temp
temp.json
*.fpk
*.log
*.zip
EasyTier-Lite/app/bin/*
EasyTier-Lite/app/server
EasyTier-Lite/app/frontend
EasyTier-Lite/app/backend
EasyTier-Lite/app/default.toml


peers/.venv
peers/src/.venv
peers/src/__pycache__
peers/*.log
peers/bin


server/.venv
server/*/__pycache__
server/__pycache__
server/build
server/dist
server/*.spec


node_modules
frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/auto-imports.d.ts
frontend/components.d.ts

*.local
# Editor directories and files
frontend/.vscode
!.vscode/extensions.json
frontend/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
