temp
*.fpk
*.log
EasyTier-Lite/app/bin/*
EasyTier-Lite/app/ui/assets
EasyTier-Lite/app/ui/index.html
EasyTier-Lite/app/server


peers/.venv
server/.venv
server/*/__pycache__
server/__pycache__


node_modules
frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local
# Editor directories and files
frontend/.vscode
!.vscode/extensions.json
frontend/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?